prueba de template
esta línea no tiene tokens
esta línea tiene [[ un carácter de apertura
esta [línea] tiene uno ] de cierre
esta línea tiene un [token no cerrado
esta línea [tiene] un token
esta línea [tiene] tres [tokens] uno justo al [final]
una [[ mezla [de] [ cosas
pruebas [mas] completas [son] [necesarias] final
pruebas [[mas] completas [son] [necesarias]
